{% extends "dashboard/base.html" %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet"
          href="https://openlayers.org/en/main/css/ol.css"
          type="text/css">
{% endblock %}

{% block content-fixed %}
    <h1 class="display-4">MICA Dashboard</h1>
    <p class="font-weight-light">
        The MICA dashboard shows data originating ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        nunc diam, iaculis et lectus vel, iaculis lobortis lectus. Curabitur magna felis, consectetur ac ante in,
        hendrerit aliquam erat. Nunc condimentum tellus ac diam rhoncus, sed facilisis libero placerat. Phasellus tempus
        felis vel mi blandit tristique. Donec porta, sapien vel scelerisque sollicitudin, arcu purus posuere risus, ut
        sagittis arcu est in mi. Cras finibus quam nibh, nec lobortis magna pretium ut. Duis lobortis ac nibh eu
        aliquet. Morbi vehicula faucibus augue sed sollicitudin. Pellentesque tincidunt sem eu vehicula eleifend. Nunc
        nec quam id dolor dictum congue et sed elit.
    </p>
{% endblock %}

{% block content-fluid %}
    <div id="app">
        <div class="row">
            <div class="col-3 bg-dark text-white shadow">
                <form>
                    <h4 class="my-3 text-center">Data filtering</h4>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label col-form-label-sm" for="selectedDataset">Source
                            dataset</label>
                        <select class="col-sm-5 form-control form-control-sm" id="selectedDataset"
                                v-model="selectedFilters.datasetId">
                            <option :value="null">-- ALL --</option>
                            <option v-for="dataset in availableDatasets" :key="dataset.id" :value="dataset.id">[[
                                dataset.name ]]
                            </option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label col-form-label-sm" for="selectedSpecies">Species</label>
                        <select class="col-sm-5 form-control form-control-sm" id="selectedDataset"
                                v-model="selectedFilters.speciesId">
                            <option :value="null">-- ALL --</option>
                            <option v-for="species in availableSpecies" :key="species.id" :value="species.id">[[
                                species.name ]]
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="onlyRecentOccurrences"
                               v-model="selectedFilters.onlyRecent">
                        <label class="col-form-label col-form-label-sm" for="onlyRecentOccurrences">Show only recent
                            (2019+) occurrences</label>
                    </div>

                    <h4 class="my-3 text-center">Map style</h4>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label col-form-label-sm" for="selectedLayer">Layer type</label>
                        <select class="col-sm-5 form-control form-control-sm" id="selectedLayer" v-model="visibleLayer">
                            <option v-for="layer in layerTypes" :value="layer.id">[[ layer.label ]]</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="col-9">

                <dashboard-occurrence-counter :filters="selectedFilters" :counter-url="endpoints.counterUrl"></dashboard-occurrence-counter>

                <h2>Map view</h2>
                <dashboard-map
                        :initial-lat="51.58" :initial-lon="4.67" :initial-zoom="initialZoomLevel"
                        :visible-layer="visibleLayer"
                        :min-max-url="endpoints.minMaxOccCountUrl"
                        :filters="selectedFilters"
                ></dashboard-map>

                <h2>Table view</h2>
                <dashboard-table :filters="selectedFilters" :occurrences-json-url="endpoints.occurrencesJsonUrl"></dashboard-table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            Vue.config.devtools = true;
            new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        selectedFilters: {
                            datasetId: null,
                            speciesId: null,
                            onlyRecent: false,
                        },

                        endpoints: {
                            availableDatasetsUrl: "{% url 'dashboard-api-available-datasets' %}",
                            availableSpeciesUrl: "{% url 'dashboard-api-available-species' %}",
                            minMaxOccCountUrl: "{% url 'dashboard-api-min-max-in-grid' %}",
                            counterUrl: "{% url 'dashboard-api-occurrences-counter' %}",
                            occurrencesJsonUrl: "{% url 'dashboard-api-occurrences-json' %}"
                        },

                        availableDatasets: [],
                        availableSpecies: [],

                        layerTypes: [
                            {id: 'vectorTilesLayer', label: 'Hexagons (density)'}
                        ],

                        initialZoomLevel: 7,
                        visibleLayer: 'vectorTilesLayer',
                    }
                },
                mounted() {
                    this.populateDatasetSelect();
                    this.populateSpeciesSelect();
                },

                watch: {
                    'selectedDatasetId': {
                        handler: function (newVal) {
                            //this.getAndReplaceOccurrenceData();
                        },
                    },
                    'selectedSpeciesId': {
                        handler: function (newVal) {
                            //this.getAndReplaceOccurrenceData();
                        },
                    },
                },
                methods: {
                    populateSpeciesSelect: function () {
                        var vm = this;
                        $.ajax({
                            url: this.endpoints.availableSpeciesUrl,
                        }).done(function (data) {
                            vm.availableSpecies = data;
                        })
                    },
                    populateDatasetSelect: function () {
                        var vm = this;
                        $.ajax({
                            url: this.endpoints.availableDatasetsUrl,
                        }).done(function (data) {
                            vm.availableDatasets = data;
                        })
                    },
                    clean: function (obj) {
                        // Remove undefined or null properties from an object
                        clonedObj = Object.assign({}, obj);
                        for (var propName in clonedObj) {
                            if (clonedObj[propName] === null || clonedObj[propName] === undefined) {
                                delete clonedObj[propName];
                            }
                        }
                        return clonedObj;
                    },
                }

            })
            ;
        };
    </script>
{% endblock %}

{% block extrabodyend %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://openlayers.org/en/main/build/ol.js"></script>
    <script src="{% static 'dashboard/dashboard.js' %}"></script>
{% endblock %}