{% extends "dashboard/base.html" %}

{% block extrahead %}
    <style>
        .map {
            height: 640px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"><h1>Rats data</h1></div>
    </div>

    <div class="row">
        <div class="col">
            <div id="map" class="map"></div>
        </div>
    </div>


    <script type="text/javascript">
        window.onload = function () {
            var vectorSource = new ol.source.Vector({
                format: new ol.format.GeoJSON(),
                url: "{% url 'dashboard-occurrences_geojson' %}",
            });

            var vectorLayer = new ol.layer.Vector({
                source: vectorSource
            });

            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    vectorLayer
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([4.67, 50.63]),
                    zoom: 8
                })
            });
        };
    </script>
{% endblock %}