{% extends "dashboard/base.html" %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css"
          type="text/css">
{% endblock %}

{% block content-fixed %}
    <div class="row">
        <div class="col"><h1 class="display-4">MICA Dashboard</h1></div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-8 font-weight-light">
            This dashboard attempts to give an overview of all muskrat and coypu observations (both catches and field
            observations) in Flanders, the Netherlands and certain areas in Germany. This dashboard is part of the LIFE
            MICA
            project, in which innovative techniques are tested for a more efficient control of muskrat and coypu
            populations, both invasive species. This dashboard will strengthen cooperation between neighboring countries
            because information on the presence of muskrats and coypu will be readily shared and used to inform
            management
            decisions.

            <p class="font-weight-bold">
                Be careful when interpreting the data! Not all data is updated regularly and more recent data may
                therefore be incomplete.
            </p>
        </div>

        <div class="col d-flex flex-wrap align-items-center">
            <img class="img-fluid" src="{% static 'dashboard/img/MICA_logo.png' %}">
        </div>
    </div>
{% endblock %}

{% block content-fluid %}
    <div id="app">
        <div class="row">
            <div class="col-3 bg-dark text-white shadow">
                <form>
                    <h4 class="my-3 text-center">Data filtering</h4>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label col-form-label-sm" for="selectedDataset">Source
                            dataset</label>
                        <select class="col-sm-5 form-control form-control-sm" id="selectedDataset"
                                v-model="selectedFilters.datasetId">
                            <option :value="null">-- ALL --</option>
                            <option v-for="dataset in availableDatasets" :key="dataset.id" :value="dataset.id">[[
                                dataset.name ]]
                            </option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label col-form-label-sm" for="selectedSpecies">Species</label>
                        <select class="col-sm-5 form-control form-control-sm" id="selectedDataset"
                                v-model="selectedFilters.speciesId">
                            <option :value="null">-- ALL --</option>
                            <option v-for="species in availableSpecies" :key="species.id" :value="species.id">[[
                                species.name ]]
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm" for="startDate">Start date</label>
                        <input type="date" id="startDate"
                               v-model="selectedFilters.startDate">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm" for="endDate">End date</label>
                        <input type="date" id="endDate"
                               v-model="selectedFilters.endDate">
                    </div>

                    <h4 class="my-3 text-center">Map style</h4>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label col-form-label-sm" for="selectedLayer">Layer type</label>
                        <select class="col-sm-5 form-control form-control-sm" id="selectedLayer" v-model="visibleLayer">
                            <option v-for="layer in layerTypes" :value="layer.id">[[ layer.label ]]</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="showHexaonCounters"
                               v-model="showHexagonCounters">
                        <label class="col-form-label col-form-label-sm" for="showHexaonCounters">Show hexagon
                            counters</label>
                    </div>
                </form>
            </div>

            <div class="col-9">

                <dashboard-occurrence-counter :filters="selectedFilters"
                                              :counter-url="endpoints.counterUrl"></dashboard-occurrence-counter>

                <h2>Map view</h2>
                <dashboard-map
                        :initial-lat="51.58" :initial-lon="4.67" :initial-zoom="initialZoomLevel"
                        :visible-layer="visibleLayer"
                        :min-max-url="endpoints.minMaxOccCountUrl"
                        :tile-server-url-template="endpoints.tileServerUrlTemplate"
                        :filters="selectedFilters"
                        :show-counters="showHexagonCounters"
                ></dashboard-map>

                <h2>Table view</h2>
                <dashboard-table :filters="selectedFilters"
                                 :occurrences-json-url="endpoints.occurrencesJsonUrl"></dashboard-table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            Vue.config.devtools = true;
            new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        selectedFilters: {
                            datasetId: null,
                            speciesId: null,
                            startDate: '2019-01-01',
                            endDate: '2021-08-06'
                        },

                        endpoints: {
                            availableDatasetsUrl: "{% url 'dashboard-api-available-datasets' %}",
                            availableSpeciesUrl: "{% url 'dashboard-api-available-species' %}",
                            minMaxOccCountUrl: "{% url 'dashboard-api-min-max-in-grid' %}",
                            counterUrl: "{% url 'dashboard-api-occurrences-counter' %}",
                            occurrencesJsonUrl: "{% url 'dashboard-api-occurrences-json' %}",
                            tileServerUrlTemplate: "{% url 'dashboard-api-mvt-tiles' zoom=1 x=2 y=3%}".replace('1', '{z}').replace('2', '{x}').replace('3', '{y}')
                        },

                        availableDatasets: [],
                        availableSpecies: [],

                        layerTypes: [
                            {id: 'vectorTilesLayer', label: 'Hexagons (density)'}
                        ],

                        showHexagonCounters: true,
                        initialZoomLevel: 7,
                        visibleLayer: 'vectorTilesLayer',
                    }
                },
                mounted() {
                    this.populateDatasetSelect();
                    this.populateSpeciesSelect();
                },

                watch: {
                    'selectedDatasetId': {
                        handler: function (newVal) {
                            //this.getAndReplaceOccurrenceData();
                        },
                    },
                    'selectedSpeciesId': {
                        handler: function (newVal) {
                            //this.getAndReplaceOccurrenceData();
                        },
                    },
                },
                methods: {
                    populateSpeciesSelect: function () {
                        var vm = this;
                        $.ajax({
                            url: this.endpoints.availableSpeciesUrl,
                        }).done(function (data) {
                            vm.availableSpecies = data;
                        })
                    },
                    populateDatasetSelect: function () {
                        var vm = this;
                        $.ajax({
                            url: this.endpoints.availableDatasetsUrl,
                        }).done(function (data) {
                            vm.availableDatasets = data;
                        })
                    },
                    clean: function (obj) {
                        // Remove undefined or null properties from an object
                        clonedObj = Object.assign({}, obj);
                        for (var propName in clonedObj) {
                            if (clonedObj[propName] === null || clonedObj[propName] === undefined) {
                                delete clonedObj[propName];
                            }
                        }
                        return clonedObj;
                    },
                }

            })
            ;
        };
    </script>
{% endblock %}

{% block extrabodyend %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock %}